/* This is my basic style sheet */
@charset "utf-8";

body {

	background-image: url("blonde2.png");
	font-family: "palatino";
	color: #3B5323;
	text-align: center;

}
h1{
	font-family: "palatino";
	color: #3B5323;
	font-size: 8vw;
	text-shadow: 1px 1px #371B07;
}

h2{
	color: #371B07;
	top: 0%;
}

#header {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(2%, -50%);
}

#header li {
	list-style-type: none;
	color: #371B07;
	font-size: 3.5vw;

}

#bio h2{
	font-family: "georgia";
}

#resume ul {
	font-family: "georgia";
	list-style-type: square;
	list-style-position: inside;
	float: right;
	margin-right: 80px;
	text-align: left;
}

#resume li{
	padding: 2px;
	font-weight: bold;
}

@font-face {
    font-family: myFirstFont;
    src: url(knowyour.ttf);
}

a{
	color: #371B07;
	text-decoration: none;
}

#headshot img{
	position: absolute;
	left: 150px;
	max-height: 827.6px;
	max-width: 514.4px;
	margin-bottom: 100px;
	border-style: solid;
	border-color: #371B07;
	border-width: 10px;
}

#facebook img{
	position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;


}

#instagram img{
	position: fixed;
	bottom: 5px;
	right: 105px;
	width:40px;
}

#linkedin img{
	position: fixed;
	bottom: 0;
	right: 50px;
	width:50px;
}

#home {
	text-align: left;
	position: relative;
	top: 0;
	font-size: 2.5vw;
	/*text-shadow: 2px 2px #003300;*/
}